body {
    font-family: 'Bebas Neue', cursive;
}

.about {
    /* width: 1520px; */
    height: 180px;
    background: url(../img/59e39e86214239.5d92f59691931.jpg) center center/cover repeat;
}

.list {
    margin: 10px 10px;
    font-size: 30px;
    list-style-type: none;
    padding: 2px 0 2px 0;
}

a {
    text-decoration: none;
}

.block1_music {
    margin: 20px 0 20px 0;
    height: 400px;
    background-color: rgb(177, 212, 201);
}

.block1_music.green {
    transition: 0.3s;
    background-color: rgb(80, 219, 80);
}

.title {
    text-align: center;
}

.title_tracklist {
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
}

.album_tracklist li {
    position: absolute;
    cursor: pointer;
    display: none;
}

.album_tracklist.open li {
    border: 1px solid rgb(194, 9, 9);
    font-size: 15px;
    width: 250px;
    display: block;
    position: relative;
    background-color: rgb(216, 216, 216);
}

.block1_music .albums {
    display: flex;
    justify-content: space-around;
}

.album_name {
    text-align: center;
}

.album_art {
    height: 300px;
    width: 300px;
}

.block2_video {
    display: block;
    padding: 20px;
    height: 600px;
    background-color: blueviolet;
}

.block2_video.blue {
    transition: 0.3s;
    background-color: rgb(74, 74, 197);
}

.block3_merch {
    width: 50px;
    height: 500px;
}